<h1>Doctors</h1>
<%= link_to 'Add Doctor', new_doctor_path %>
<hr />
<h2><%= @doctors.length <= 0 ? 'No Doctors are available' : "" %>
</h2>
<ul>
<% @doctors.each do |d| %>
  <li>
    <%= link_to d.name, doctor %>